$color-primary:     #d43a27;
$color-text:        #353331;

$font-primary:        'Orelega One', serif;
$font-secondary:      montserrat, sans-serif;

$container-padding:   2rem;
$content-max-width:   1600px;